/*container  开始、*/
.container{
	max-width: 1000px;
	min-width: 320px;
	margin: 0 auto;
	margin-top: 120px;
}
.container .box .introduction,.container .main{
	float: left;
}
.container .introduction{
	width: 250px;
	border-right: 1px solid #bbb;
	padding-right: 15px;
}

.container .introduction ul li{
	height: 77px;
	cursor: pointer;
	border-bottom: 3px solid #fff;
}
.container .introduction ul li{
		border-bottom: 3px solid #fff;
	}
.container .introduction ul li:hover{
		border-bottom: 3px solid #fa9634;
	}
.container .introduction ul li:nth-of-type(1){
	background:url(../images/service_03.jpg) no-repeat 20px center;
	
}
.container .introduction ul li:nth-of-type(2){
	background:url(../images/service_05.jpg) no-repeat 20px center;
	
}
.container .introduction ul li:nth-of-type(3){
	background:url(../images/service_08.jpg) no-repeat 20px center;
	
}
.container .introduction ul li:nth-of-type(4){
	background:url(../images/service_11.jpg) no-repeat 20px center;
	border-bottom: 3px solid #fa9634;
}

.container .introduction ul li:hover:nth-of-type(1){
	background:url(../images/service_04.jpg) no-repeat 20px center;
}
.container .introduction ul li:hover:nth-of-type(2){
	background:url(../images/service_06.jpg) no-repeat 20px center;
}
.container .introduction ul li:hover:nth-of-type(3){
	background:url(../images/service_09.jpg) no-repeat 20px center;
}
.container .introduction ul li:hover:nth-of-type(4){
	background:url(../images/service_11.jpg) no-repeat 20px center;
}
.container .introduction ul li:hover{
	border-bottom: 3px solid #fa9634;
}
.container .introduction ul li a{
	display: block;
	font-size: 2.4em;
	padding-top: 29px;
	color: #222;
	width: 160px;
	padding-left: 90px;
	font-weight: normal;
}
.container .main {
	width: 675px;
	margin-left: 50px;
	margin-bottom: 100px;
}
.container .main h2{
	font-size: 1.8em;
	font-weight: bold;
	color: #fa9634;	
	margin-top: 13px;
}
.container .main h2:nth-of-type(1){
	margin-top: 0;
}

.container .main p{
	margin-top:7px;
	line-height: 28px;
	font-size: 1.6em;
	color: #222;
}
.container .main ul{
	margin-top: 13px;
}
.container .main ul li{
	line-height: 28px;
	font-size: 1.6em;
	color: #222;
	margin-top: 13px;
}
@media only screen and (max-width:1000px) and (min-width:720px){
	.container{
		margin-top: 40px;
	}
	.container .introduction{
		width: 26.5%;
		border-right: 1px solid #bbb;
	}
	.container .box{
		padding-left: 6%;
	}
	.container .box .introduction ul li a{
		width: 71.6981132%;
		padding-left: 40.9622%;
		font-size: 2.2em;
	}
	.container .main{
		width: 57.9%;
		margin-left: 5%;
	}	
}
@media only screen and (max-width:720px) and (min-width:480px){
	.container{
		margin-top: 40px;
	}
	.container .box .introduction,.container .main{
		clear: both;
	}
	.container .box{
		padding-left: 6%;
	}
	.container .introduction{
		width: 95%;
		border-right: none;
	}
	.container .box ul{
		padding-left: none;
	}
	.container .box .introduction ul li{
		width: 22.4%;
		float: left;
		margin-right: 3%;
		margin-bottom: 20px;
	}
	.container .introduction ul li:nth-of-type(1){
		background:url(../images/service_03.jpg) no-repeat 50% center;
		
	}
	.container .introduction ul li:nth-of-type(2){
		background:url(../images/service_05.jpg) no-repeat 50% center;
		
	}
	.container .introduction ul li:nth-of-type(3){
		background:url(../images/service_08.jpg) no-repeat 50% center;
		
	}
	.container .introduction ul li:nth-of-type(4){
		background:url(../images/service_11.jpg) no-repeat 50% center;
		
	}
	
	.container .introduction ul li:hover:nth-of-type(1){
		background:url(../images/service_04.jpg) no-repeat 50% center;
	}
	.container .introduction ul li:hover:nth-of-type(2){
		background:url(../images/service_06.jpg) no-repeat 50% center;
	}
	.container .introduction ul li:hover:nth-of-type(3){
		background:url(../images/service_09.jpg) no-repeat 50% center;
	}
	.container .introduction ul li:hover:nth-of-type(4){
		background:url(../images/service_11.jpg) no-repeat 50% center;
	}
	.container .box .introduction ul li:nth-of-type(4){
		border-bottom: 3px solid #fff;
	}
	.container .box .introduction ul li:hover{
		border-bottom: 3px solid #fff;
	}
	.container .box .introduction ul li:last-of-type{
		margin-right: 0;
	}
	.container .box .introduction ul li a{
		font-size: 1.8em;
		text-align: center;
		padding-left: 0;
		width: 100%;
		padding-top: 66px;
	}
	.container .box .introduction ul li:nth-of-type(3n){
		margin-right: none;
	}
	.container .main{
		width: 88.9%;
		margin-left: 5%;
	}	
	.container .main p{
		padding-left: 6%;
	}
	@media only screen and (max-width:500px) and (min-width:480px){
		.container .box .introduction ul li{
			width: 22.3%;
		}
	}
}
@media only screen and (max-width:480px){
	.container{
		margin-top: 40px;
	}
	.container .box .introduction,.container .main{
		clear: both;
	}
	.container .box{
		padding-left: 6%;
	}
	.container .introduction{
		width: 95%;
		border-right: none;
	}
	.container .box ul{
		padding-left: none;
	}
	.container .box .introduction ul li{
		width: 22%;
		float: left;
		margin-right: 4%;
		margin-bottom: 20px;
	}
	.container .introduction ul li:nth-of-type(1){
		background:url(../images/service_03.jpg) no-repeat 50% center;
		
	}
	.container .introduction ul li:nth-of-type(2){
		background:url(../images/service_05.jpg) no-repeat 50% center;
		
	}
	.container .introduction ul li:nth-of-type(3){
		background:url(../images/service_08.jpg) no-repeat 50% center;
		
	}
	.container .introduction ul li:nth-of-type(4){
		background:url(../images/service_11.jpg) no-repeat 50% center;
		
	}
	
	.container .introduction ul li:hover:nth-of-type(1){
		background:url(../images/service_04.jpg) no-repeat 50% center;
	}
	.container .introduction ul li:hover:nth-of-type(2){
		background:url(../images/service_06.jpg) no-repeat 50% center;
	}
	.container .introduction ul li:hover:nth-of-type(3){
		background:url(../images/service_09.jpg) no-repeat 50% center;
	}
	.container .introduction ul li:hover:nth-of-type(4){
		background:url(../images/service_11.jpg) no-repeat 50% center;
	}
	.container .box .introduction ul li:nth-of-type(4){
		border-bottom: 3px solid #fff;
	}
	.container .box .introduction ul li:hover{
		border-bottom: 3px solid #fff;
	}
	.container .box .introduction ul li:last-of-type{
		margin-right: 0;
	}
	.container .box .introduction ul li:nth-of-type(4n){
		margin-right: none;
	}
	.container .box .introduction ul li a{
		font-size: 1.6em;
		text-align: center;
		padding-left: 0;
		width: 100%;
		padding-top: 66px;
	}
	.container .box .introduction ul li:nth-of-type(3n){
		margin-right: none;
	}
	.container .main{
		width: 88.9%;
		margin-left: 5%;
	}	
	.container .main p{
		padding-left: 6%;
	}
}












