/*container  开始、*/
.container{
	max-width: 1000px;
	min-width: 320px;
	margin: 0 auto;
	margin-top: 120px;
}
.container .box .introduction,.container .main{
	float: left;
}
.container .introduction{
	width: 265px;
	border-right: 1px solid #bbb;
	padding-right: 15px;
}

.container .introduction ul li{
	height: 77px;
	cursor: pointer;
	border-bottom: 3px solid #fff;
}
.container .introduction ul li{
		border-bottom: 3px solid #fff;
	}
.container .introduction ul li:hover{
		border-bottom: 3px solid #fa9634;
	}
.container .introduction ul li:nth-of-type(1){
	background:url(../images/left_link_02.jpg)  no-repeat 20px center;
	
}
.container .introduction ul li:nth-of-type(2){
	background: url(../images/left_link_06.jpg) no-repeat 20px center;
	
}
.container .introduction ul li:nth-of-type(3){
	background: url(../images/left_link_09.jpg) no-repeat 20px center;
	border-bottom: 3px solid #fa9634;
}
.container .introduction ul li:nth-of-type(4){
	background: url(../images/left_link_10.jpg) no-repeat 20px center;
}
.container .introduction ul li:nth-of-type(5){
	background: url(../images/left_link_12.jpg) no-repeat 20px center;
}
.container .introduction ul li:nth-of-type(6){
	background: url(../images/left_link_14.jpg) no-repeat 20px center;
}
.container .introduction ul li:nth-of-type(7){
	background: url(../images/left_link_16.jpg) no-repeat 20px center;
}
.container .introduction ul li:nth-of-type(8){
	background: url(../images/left_link_18.jpg) no-repeat 20px center;
}
.container .introduction ul li:nth-of-type(9){
	background: url(../images/left_link_20.jpg) no-repeat 20px center;
}

.container .introduction ul li:hover{
	border-bottom: 3px solid #fa9634;
}
.container .introduction ul li:hover:nth-of-type(1){
	background:url(../images/left_link_03.jpg)  no-repeat 20px center;
	border-bottom: 3px solid #fa9634;
}
.container .introduction ul li:hover:nth-of-type(2){
	background: url(../images/left_link_07.jpg) no-repeat 20px center;
}
.container .introduction ul li:hover:nth-of-type(3){
	background: url(../images/left_link_09.jpg) no-repeat 20px center;
}
.container .introduction ul li:hover:nth-of-type(4){
	background: url(../images/left_link_11.jpg) no-repeat 20px center;
}
.container .introduction ul li:hover:nth-of-type(5){
	background: url(../images/left_link_13.jpg) no-repeat 20px center;
}
.container .introduction ul li:hover:nth-of-type(6){
	background: url(../images/left_link_15.jpg) no-repeat 20px center;
}
.container .introduction ul li:hover:nth-of-type(7){
	background: url(../images/left_link_17.jpg) no-repeat 20px center;
}
.container .introduction ul li:hover:nth-of-type(8){
	background: url(../images/left_link_19.jpg) no-repeat 20px center;
}
.container .introduction ul li:hover:nth-of-type(9){
	background: url(../images/left_link_21.jpg) no-repeat 20px center;
}
/*.container .introduction ul li:hover a{
	color: #fa9634;
}*/
.container .introduction ul li a{
	display: block;
	font-size: 2.4em;
	padding-top: 29px;
	color: #222;
	width: 190px;
	padding-left: 75px;
	font-weight: normal;
}
.container .main {
	width: 657px;
	margin-left: 50px;
	margin-bottom: 100px;
}
.container .main h2{
	font-size: 1.8em;
	font-family: "microsoft yahei";
	font-weight: bold;
	height: 18px;
	line-height: 18px;
	color: #fa9634;
	margin-top: 8px;
}
.container .main h2:nth-of-type(1){
	margin-top: none;
}
.container .main p{
	line-height: 29px;
	font-size: 1.6em;
	font-weight: normal;
	margin-top: 7px;
	font-family: "microsoft yahei";
}
.container .main .set_img{
	margin: 24px 0 26px 0;
}
.container .main .set_img>img{
	display: block;
	max-width: 100%;
}
@media only screen and (max-width:1000px) and (min-width:720px){
	.container{
		margin-top: 40px;
	}
	.container .introduction{
		width: 26.5%;
		border-right: 1px solid #bbb;
	}
	.container .box{
		padding-left: 6%;
	}
	.container .introduction ul li a{
		width: 71.6981132%;
		padding-left: 33.9622%;
		font-size: 2.2em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.container .main{
		width: 57.9%;
		margin-left: 5%;
	}	
	.container .box .introduction ul li a span{
		display: none;
	}
}
@media only screen and (max-width:720px) and (min-width:480px){
	.container{
		margin-top: 40px;
	}
	.container .box .introduction,.container .main{
		clear: both;
	}
	.container .box{
		padding-left: 6%;
	}
	.container .introduction{
		width: 90%;
		border-right: none;
	}
	.container .box ul{
		padding-left: none;
	}
	.container .box .introduction ul li{
		width: 30.333%;
		float: left;
		margin-right: 10px;
	}
	.container .box .introduction ul li:hover{
		border-bottom: 3px solid #fff;
	}
	.container .box .introduction ul li:nth-of-type(3){
		border-bottom: 3px solid #fff;
	}
	.container .box .introduction ul li a{
		font-size: 1.8em;
		padding-left: 52.47%;
		width: 73.6981132%;
	}
	.container .box .introduction ul li a span{
		display: none;
	}
	.container .box .introduction ul li:nth-of-type(3n){
		margin-right: none;
	}
	.container .main{
		width: 88.9%;
		margin-left: 5%;
	}	
	.container .main p{
		text-indent:28px;
	}
}
@media only screen and (max-width:480px){
	.container{
		margin-top: 40px;
	}
	.container .box .introduction,.container .main{
		clear: both;
	}
	.container .box{
		padding-left: 6%;
	}
	.container .introduction{
		width: 90%;
		border-right: none;
	}
	.container .box ul{
		padding-left: none;
	}
	.container .box .introduction ul li{
		width: 32.66%;
		float: left;
		margin-right: 1%;
	}
	.container .box .introduction ul li:hover{
		border-bottom: 3px solid #fff;
	}
	.container .box .introduction ul li:nth-of-type(6){
		border-bottom: 3px solid #fff;
	}
	.container .box .introduction ul li:nth-of-type(4n){
		margin-right: none;
	}
	.container .introduction ul li:nth-of-type(1){
	background:url(../images/left_link_02.jpg)  no-repeat 50% center;
	
	}
	.container .introduction ul li:nth-of-type(2){
		background: url(../images/left_link_06.jpg) no-repeat 55% center;
		
	}
	.container .introduction ul li:nth-of-type(3){
		background: url(../images/left_link_09.jpg) no-repeat 55% center;
		border-bottom: 3px solid #fff;
	}
	.container .introduction ul li:nth-of-type(4){
		background: url(../images/left_link_10.jpg) no-repeat 55% center;
		
	}
	.container .introduction ul li:nth-of-type(5){
		background: url(../images/left_link_12.jpg) no-repeat 55% center;
	}
	.container .introduction ul li:nth-of-type(6){
		background: url(../images/left_link_14.jpg) no-repeat 55% center;
		
	}
	.container .introduction ul li:nth-of-type(7){
		background: url(../images/left_link_16.jpg) no-repeat 55% center;
	}
	.container .introduction ul li:nth-of-type(8){
		background: url(../images/left_link_18.jpg) no-repeat 55% center;
	}
	.container .introduction ul li:nth-of-type(9){
		background: url(../images/left_link_20.jpg) no-repeat 55% center;
	}
	
	.container .introduction ul li:hover{
		border-bottom: 3px solid #fff;
	}
	.container .introduction ul li:hover:nth-of-type(1){
		background:url(../images/left_link_03.jpg)  no-repeat 50% center;
	}
	.container .introduction ul li:hover:nth-of-type(2){
		background: url(../images/left_link_07.jpg) no-repeat 55% center;
	}
	.container .introduction ul li:hover:nth-of-type(3){
		background: url(../images/left_link_09.jpg) no-repeat 55% center;
	}
	.container .introduction ul li:hover:nth-of-type(4){
		background: url(../images/left_link_11.jpg) no-repeat 55% center;
	}
	.container .introduction ul li:hover:nth-of-type(5){
		background: url(../images/left_link_13.jpg) no-repeat 55% center;
	}
	.container .introduction ul li:hover:nth-of-type(6){
		background: url(../images/left_link_15.jpg) no-repeat 55% center;
	}
	.container .introduction ul li:hover:nth-of-type(7){
		background: url(../images/left_link_17.jpg) no-repeat 55% center;
	}
	.container .introduction ul li:hover:nth-of-type(8){
		background: url(../images/left_link_19.jpg) no-repeat 55% center;
	}
	.container .introduction ul li:hover:nth-of-type(9){
		background: url(../images/left_link_21.jpg) no-repeat 55% center;
	}
	.container .box .introduction ul li a{
		display: block;
		font-size: 1.6em;
		padding-left: 0;
		width: 100%;
		text-align: center;
		padding-top: 60px;
	}
	.container .box .introduction ul li a span{
		display: none;
	}
	.container .box .introduction ul li:nth-of-type(3n){
		margin-right: 0;
	}
	.container .main{
		width: 88.9%;
		margin-left: 5%;
	}	
	.container .main p{
		text-indent:28px;
	}
}



















